*{
    margin: 0px;
    padding: 0px;
}

#Shakib{
    font-size: 45px;
    text-shadow: 7px 7px 12px green;
}
.section1{
    background-image: url('Shakib\ .jpg');
    height: 100vh;
    background-size:cover;
}
 

 
#mainheadline{
    color: white;
    padding-left: 80px;
    padding-top: 250px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 10px black;
    font-weight: 900;
}

#scroll{
    color: blue;
    
    margin-left: 200px;
    font-size: 30px;
    border: 2px solid white;
    width:fit-content;
    padding: 5px 10px 5px 10px;
    background-color: rgb(116, 120, 179);
    text-shadow: 5px 5px 10px white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 7px 7px 10px gray;
    border-radius: 25px;
}

#head-description{
    color: rgb(206, 247, 96);
    padding-left: 80px;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 45%;
    text-shadow: 5px 5px 10px black;
}

#facts-headline{
    color: green;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 100%;
    text-shadow: 5px 5px 10px red;
    text-align: center;
}

.fact{
    background-color: bisque;
    width: 20.8%;
    height: 40%;
    float: left;
    margin: 15px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    border: 2px solid red;
    border-radius: 15px;
    box-shadow: 5px 5px 10px green;
    font-family: 'Courier New', Courier, monospace;
    
}

.section2{
    background-color: rgb(219, 247, 247);
}

.clear-after-section2{
    clear: both;
}
.section3{
    background-color: rgb(197, 211, 211);
    background-image:url('background\ .jpg');
    height: 100vh;
    position:relative ;
}

#shakib-photo{
    position:absolute;
    right: 10px;
    height: 100%;
}
.statistics{
    margin: 15px;
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(233, 227, 219);
    border-radius: 20px;
    width: 28%;
    margin-left: 35px;
    font-family: 'Courier New', Courier, monospace;
    
}

#batting-statistics-heading{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 60px;
    margin-left: 15px;
    font-size: 28px;
    font-weight: 900;
    text-shadow: 7px 7px 12px white;

}

